:root{
    --font-primary:   'Palanquin Dark', sans-serif;
    --font-second: 'Passion One', cursive;
}

*{
   font-family: var(--font-primary);
}

.font-second{
    font-family: var(--font-second);
}

.dropdown:hover .dropdown-menu {
display: block;
}


